* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #E6E7E9;
    padding: 24px 48px;
    font-family: "Geist", sans-serif;
    color: #002C5C;
}

p {
    font-size: 11px;
}

.title {
    text-align: center;
}

.traker-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.card {
    background-color: #ffffff;
    width: 33.33%;
    height: 60px;
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.traker-card > .card > span {
    font-weight: 700;
}

.traker-card > .card:nth-child(2) > span {
    color:#10B981;
}

.traker-card > .card:nth-child(3) > span {
    color:#EF4444;
}

/* Main Section Menu Bar */

.title-av {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title-av > .job-count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.option-btn {
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 24px;
    color: #002C5C;
}

.btn-1 {
    transform: scale(1.2);
    background-color: #002C5C;
    color: #d6d7e4;
    transition: all 0.6s ease-in-out;
}
.btn-2 {
    transform: scale(1.2);
    background-color: #10B981;
    color: #d6d7e4;
    transition: all 0.6s ease-in-out;
}
.btn-3 {
    transform: scale(1.2);
    background-color: #EF4444;
    color: #d6d7e4;
    transition: all 0.6s ease-in-out;
}

.all-jobs {
    display: flex;
    flex-direction: column;
}

.job-card {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.p1 {
    opacity: 0.7;
    padding: 5px 0 10px;
}

.p2 {
    opacity: 0.7;
    margin-bottom: 8px;
}

.na {
    padding: 4px 6px;
    background-color: #e1e7f1;
    font-size: 12px;
    border-radius: 4px;
}

.p3 {
    margin: 8px 0;
}


.btn-in {
    padding: 8px 12px;
    border: 1px solid #10B981;
    border-radius: 4px;
    color: #10B981; 
}
.btn-re {
    padding: 8px 12px;
    border: 1px solid #EF4444;
    border-radius: 4px;
    color: #EF4444; 
}

.no-jobs  {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-jobs > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

/* js setting style */

.cng-card-in {
    border-left: 2px solid #10B981;
}
.cng-card-re {
    border-left: 2px solid #EF4444;
}

.applied-in {
    border: 1px solid #10B981;
    color: #10B981;
}
.applied-re {
    border: 1px solid #EF4444;
    color: #EF4444;
}

.fa-solid {
    pointer-events: none;
}

.hide {
    display: none;
}